//
//  Config.xcconfig
//  Whitbread
//
//  Created by Maarut Chandegra on 22/01/2019.
//  Copyright © 2019 Maarut Chandegra. All rights reserved.
//
#include "Whitbread/Environments/Keys.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) FOURSQUARE_CLIENT_ID=@\"$(FOURSQUARE_CLIENT_ID)\" FOURSQUARE_CLIENT_SECRET=@\"$(FOURSQUARE_CLIENT_SECRET)\"
